<div class="contenedor">

  <h1>🎮 Mis Juegos Online🕹️</h1>

  <div
    class="juego"
    *ngFor="let juego of juegos; let i = index">

    <span>
      {{ juego.nombre }}
      <span *ngIf="juego.favorito">⭐</span>
    </span>

    <div class="botones">
      <button
        class="favorito"
        (click)="marcarFavorito(juego)">
        Favorito
      </button>

      <button
        class="eliminar"
        (click)="eliminarJuego(i)">
        Eliminar
      </button>
    </div>

  </div>

  <div class="agregar">
    <input
      type="text"
      placeholder="Ingrese un juego"
      [(ngModel)]="nuevoJuego">

    <button class="agregar-btn" (click)="agregarJuego()">
      Agregar Juego
    </button>
  </div>

</div>